body{
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

h1{
  color: red;
}

.red_title{
  background-color: black;
  color: red;
  padding: .9375rem;
  border: 5px solid red;
}

.title{
  background-color: black;
  color: white;
}